/bin/Debug/chromedriver.exe
/bin/Debug/geckodriver.exe
/bin/Debug/NewDemoProject.dll
/bin/Debug/NewDemoProject.pdb
/bin/Debug/nunit.engine.api.dll
/bin/Debug/nunit.engine.core.dll
/bin/Debug/nunit.engine.dll
/bin/Debug/nunit.framework.dll
/bin/Debug/nunit.framework.xml
/bin/Debug/nunit_random_seed.tmp
/bin/Debug/NUnit3.TestAdapter.dll
/bin/Debug/NUnit3.TestAdapter.pdb
/bin/Debug/testcentric.engine.metadata.dll
/bin/Debug/WebDriver.dll
/bin/Debug/WebDriver.Support.dll
/NewDemoProject.csproj
/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/NewDemoProject.csproj.AssemblyReference.cache
/obj/Debug/NewDemoProject.csproj.CopyComplete
/obj/Debug/NewDemoProject.csproj.CoreCompileInputs.cache
/obj/Debug/NewDemoProject.csproj.FileListAbsolute.txt
/obj/Debug/NewDemoProject.dll
/obj/Debug/NewDemoProject.pdb
/packages.config
/Properties/AssemblyInfo.cs
